@media (max-width: 1024px){
    .container {
       width: 90%; 
    }
    .header { 
        margin: 15px 0px;
    } 
    .nav__menu {
        margin-left: 190px;
    }
    .header__btn {
        display: none;
    }
    .promo__content {
        padding-top: 100px;
        text-align: left; 
    }
    .promo__text{
        font-size: 60px;
        line-height: 74px;
    }
    .promo__btn{ 
        padding-bottom: 100px;
    }
    .offer__content{
        margin-top: 60px;
        margin-bottom: 50px; 
    }
    .offer__left {
        height: 280px;
        padding-top: 25px;
        padding-left: 25px; 
    }
    .offer__subtitle {
        font-size: 30px;
        line-height: 58px;
    }
    .offer__textLeft {
        font-size: 32px;
        line-height: 48px;
    }
    .subtitle{
        font-size: 30px;
        line-height: 58px;
    }
    .offer__right {
        height: 280px;
        padding-top: 25px;
        padding-left: 25px;
    }
    .offer__textRight {
        font-size: 32px;
        line-height: 48px;
    }
    .title {
        font-size: 38px;
        line-height: 52px;
    }
    .introduct__content {
        flex-direction: column;
    }
    .introduct__left {
        display: none;
    }
    .introduct__right {
        margin-top: 30px;
        margin-right: auto;
        margin-left: auto;
    }
    .introduct__btn {
        margin-top: 50px;
        margin-bottom: 90px;  
    }
    .organic__content {
        margin-top: 20px;
        margin-bottom: 60px;
    }
    .organic__prod {
        display: grid;
        grid-template-columns: 447px 447px;
        grid-template-rows: 590px 590px 590px;
        grid-gap: 20px;
    }
    .review__top {
        padding: 30px 50px 0 50px;
    }
    .caption{
        max-width:821px;
    }
    .client {
        padding-bottom: 50px;
    }
    .review {
        background-size: 100% ;
    }
    .review__photo{
        margin: 0px 0 18px 0;
    }
    .review__bottom {
        padding-top: 65px;
        padding-bottom: 65px;
    }
    .review__char {
        padding-top: 35px;
        width: 167px;
        height: 167px;
    }
    .number {
        font-size: 30px;
        line-height: 48px;
    }
    .descript {
        font-size: 16px;
    }
    .products__content {
        padding-top: 60px;
    }
    .products__main {
        grid-template-columns: 447px 447px;
        grid-template-rows: 590px 590px;
        padding-bottom: 90px;
    }
    .eco__box {
        padding: 20px 20px 25px 30px;
        margin: 50px 0px 50px 260px;
    }
    .catalog__content {
        gap: 30px;
        padding: 90px 20px;
    }
    .picture {
        height: 460px;
    }
    .catalog__btn {
        width: 230px;
        height: 85px;
        font-size: 23px;
        line-height: 32px;
    }
    .form__content {
        background-size: 100%;
        padding: 40px 10px;
    }
    .title--form{
        font-size: 32px;
        line-height: 48px;
        margin-left: 20px;
    }
    .footer__content {
        margin: 60px 0px;
    }
    .footer__left {
        padding-left: 0px;
    }
    .footer__title {
        font-size: 23px;
        line-height: 36px;
    }
    .footer__row {
        margin-top:25px;
        margin-bottom: 0px;
    }
    .contact__link{
        font-size: 16px;
        line-height: 26px;
    }
    .footer__middle{
        padding: 0 15px 45px 15px;
    }
    .text--footer{
        margin-bottom: 15px;
        font-size: 16px;
        line-height: 30px;
    }
    iframe{
        max-width: 1024px;
    }
}
@media (max-width: 768px){
    .header__logo img{
       width: 80%;
    }
    .burger__input{
        display: inline-block;
    }
    .burger__menu{
        display: inline-block;
    }
    .nav__menu {
        z-index: 1;
        display: grid;
        row-gap: 20px;
        align-content: center;
        justify-content: start;
        width: 25vw; 
        height: 50vh;
        position: absolute;
        right: -26vw;
        top:-15px;
        font-size: 36px;
        visibility: hidden;
        transition: right 1s, visibility 5s linear ;
    }
    .nav__item{
        font-weight: bold;
    }
    .nav__item:last-child {
        margin-left: 0px;
    }
    .nav__link:hover{
        color: var(--light);
    }
    .promo__content {
        padding-top: 50px;
    }
    .subtitle{
        font-size: 28px;
        line-height: 55px;
    }
    .promo__text{
        font-size: 48px;
        font-weight: 700;
        line-height: 54px;
    }
    .promo__btn{ 
        padding-bottom: 75px;
    }
    .button {
        padding-left: 20px;
        padding-right: 10px;
        height: 62px;
        font-size: 16px;
        margin-top: 20px;
    }
    .offer__content{
        margin-top: 45px;
        margin-bottom: 45px; 
    }
    .offer__left {
        height: 180px;
        padding-top: 20px;
        padding-left: 15px; 
    }
    .offer__textLeft {
        font-size: 26px;
        line-height: 36px;
        letter-spacing: 0.36px;
        color: var(--white);
    }
    .offer__right {
        height: 180px;
        padding-top: 20px;
        padding-left: 15px;
    }
    .offer__textRight {
        font-size: 26px;
        line-height: 36px;
    }
    .title {
        font-size: 35px;
        line-height: 48px;
        margin-bottom: 15px;
    }
    .text {
        font-size: 16px;
        line-height: 30px;
    }
    .introduct__top {
        margin-bottom: 25px;
    }
    .introduct__bottom {
        margin-top: 15px;
    }
    .introduct__img{
        border-color:var(--white);
        border-radius: 20px;
        background-color: var(--white);
        width: 80px;
        height: 80px;
        position: relative;
    }
    .image{
        padding:20px 15px;
    }
    .vector1{
        margin-top: 26px;
        margin-left: 10px;
    }
    .vector2{
        margin-top: 38px;
        margin-left: 12px; 
    }
    .introduct__title {
        font-size: 23px;
        line-height: 35px;
        letter-spacing: 0.36px;
        color:var(--main);
        margin-bottom: 5px;
    }
    .introduct__btn {
        margin-top: 20px;
        margin-bottom: 75px;
    }
    .button--dark {
        width: auto;
        margin: 0;
    }
    .organic__prod {
        grid-template-columns: 340px 340px;
        grid-template-rows: 460px 460px 460px;
    }
    .organic__img img{
        width: 340px;
        padding: 0 40px;
    }
    .organic__bottom {
        /* margin: 20px 10px 22px 10px ; */
        margin: 0px 10px ;
    }
    .client {
        padding-bottom: 25px;
    }
    .caption{
        width: 592px;
    }
    .review__bottom {
        padding-top: 35px;
        padding-bottom: 35px;
    }
    .review__char {
        padding-top: 25px;
        width: 120px;
        height: 120px;
    }
    .number {
        font-size: 18px;
        line-height: 28px;
    }
    .descript {
        font-size: 12px;
    }
    .products__content {
        padding-top: 30px;
    }
    .products__main {
        grid-template-columns: 340px 340px;
        grid-template-rows: 460px 460px;
        padding-bottom: 40px;
    }  
    .eco {
        background-size: 100% auto;
    }      
    .eco__box {
        margin: 100px 0px 100px 60px;
    }
    .catalog__content {
        gap: 20px;
        padding: 40px 20px;
    }
    .picture {
        height: 260px;
    }
    .catalog__btn {
        width: 150px;
        height: 65px;
        font-size: 18px;
    }
    .catalog__btn:hover{
        padding: 10px;
    }
    .form__content {
        background-size: cover;
        padding: 20px 10px;
    }
    .title--form{
        font-size: 22px;
        line-height: 28px;
    }
    .form__input{
        width: 280px;
        height: 62px;
        font-size: 16px;
    }
    .footer__content {
        display: grid;
        grid-template-columns: 260px 260px 260px;
        grid-template-rows: 270px ;       
        margin: 30px 0px 30px -10px;
    }
    .footer__title {
        font-size: 22px;
        line-height: 32px;
    }
    .footer__row {
        font-size: 14px;
        margin-top: 15px;
    }
    .footer__logo {
        width: 50%;
        margin-bottom: 22px;
    }
    .social{
        gap: 20px;
        margin-top: 34px;
    }
    .social__ico{
       padding: 10px;
    }
    .text--footer{
        margin-bottom: 15px;
        font-size: 16px;
        line-height: 20px;
    }
    iframe{
        max-width: 768px;
    }
}
